panic() {
  echo $@
  exit 1
}

REQUIRED_PYTHON_VERSION="$(cat python-version)"
INSTALLED_PYTHON_VERSION=""
if [[ -f bin/python ]]; then
  INSTALLED_PYTHON_VERSION="$(bin/python --version 2>&1 | sed -e 's/Python //g')"
fi

# [pythonz|virtualenv]が入ってなければエラー
type pythonz >/dev/null 2>&1 \
|| panic system is missing required "\`pythonz\`"
type virtualenv >/dev/null 2>&1 \
|| panic system is missing required "\`virtualenv\`"

# python-versionで指定されたバージョンのpythonが入ってない場合はインストール
if [[ ! -d ${HOME}/.pythonz/pythons/CPython-${REQUIRED_PYTHON_VERSION} ]]; then
  pythonz install ${REQUIRED_PYTHON_VERSION} \
  || panic
fi

# 要求バージョンとvirtualenvのバージョンが違う場合は削除
if [[ $INSTALLED_PYTHON_VERSION != $REQUIRED_PYTHON_VERSION ]]; then
  rm -rf bin include lib pip-selfcheck.json \
  || panic
fi

# virtualenvの初期化
if [[ ! -f bin/python ]]; then
  (virtualenv -p $HOME/.pythonz/pythons/CPython-$REQUIRED_PYTHON_VERSION/bin/python `pwd` \
  && pip install --upgrade pip) \
  || panic
fi

PATH_add bin

sh bin/activate

# パッケージ更新
pip install -r pipfile
